/* .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 120px;
    height: 120px;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1);
  } */
  